body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 10px;
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
/* 
.services-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    display: flex;
}

.services-dropdown .column {
    flex: 1;
    padding: 16px;
}

.services-dropdown .column h3 {
    margin-top: 0;
} */

.column{
    display:flex;   

}

header nav ul li:hover .dropdown-content,
header nav ul li:hover .services-dropdown {
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

main section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .services-dropdown {
        flex-direction: column;
    }

    main section {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    main section {
        padding: 10px;
    }
}
